
      <div id="copyright">
          <ul class="socialMedia">
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="/contact">Connect Us</a></li>
          </ul>
          <h3>House Series</h3>
            <ul class="socialMedia">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-google"></i></a></li>
            </ul>
            <h6>All Rights Reserved For AbdElrhman &copy;2019</h6>
      </div>