<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="AbdElrhman">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Without Ad, Free Hd Movies, English Movies, Arabic Movies, Free Hd Engilsh Movies, Free Arabic Movies, Arabic Movies">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">

   
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <title><%= title %></title>