<nav <% if ( path === '/' ){ %> style="display: none;" <% } %>>
  <div class="container">
    <!-- <p id="userName"></p>
        <ul class="setting">
          <li><a href="#">Profile <i class="fas fa-user"></i></a></li>
          <li><a href="#">Setting <i class="fas fa-cogs"></i></a></li>
          <li><a href="#">Logout <i class="fas fa-sign-out-alt"></i></a></li>
        </ul> -->
    <% if (isAuthenticated) { %>
      <form action="/logout" method="post">
        <button class="btn" type="submit">Log Out</button>
      </form>
    <% } %>
    <div class="logo">
      <a href="/">Home Cinema</a>
    </div>
    <div class="sideMenuI">
      <a id="sideNavIcon"><i class="fas fa-bars"></i></a>
    </div>
    <div id="sideMenu">
      <div class="inner">
      <h2>Home Cinema</h2>
      <ul id="options">
        <!-- <li class="categories">
        <h4 class="active">Categories</h4>
        <div class="categories-items">
          <a href="/drama">Drama</a>
          <a href="/action">Action</a>
          <a href="/comedy">Comedy</a>
          <a href="/romance">Romance</a>
        </div>
      </li> -->
      
      <% if (!isAuthenticated) { %>
  

        <li><a href="/moviesCategory/Drama">Drama</a>
          <img src="/assets/images/tears.gif" alt="">
        </li>
        <li><a href="/moviesCategory/Action">Action</a>
          <img src="/assets/images/Fest.gif" alt="">
        </li>
        <li><a href="/moviesCategory/Romance">Romance</a>
          <img src="/assets/images/romence.gif" alt="">
        </li>
        <li><a href="/moviesCategory/Comedy">Comedy</a></li>
        <li><a href="/moviesCategory/animation">Animation</a>
          <img src="/assets/images/Untitled-1.gif" alt=""></li>
        <li>     
          <a href="/login">Login</a>
          <!-- <div class="form-style">
            <form action="/login" method="post">
                <% if(errmsg) { %>
                    <div class="msg msg-err">
                        <p> <%= errmsg %> </p>
                    </div>
                    <% } %>
                    <input type="email" name="email" placeholder="Your Email.">
                    <input type="password" name="password" placeholder="Write Password.">
                    <button class="btn main-btn" type="submit">login</button>
              </form>
          </div> -->
        </li>
          
        <% } %>  
        <% if (isAuthenticated) { %>
          <li><a href="/signup">Drama</a>
            <img src="/assets/images/tears.gif" alt="">
          </li>
          <li><a href="/signup">Action</a>
            <img src="/assets/images/Fest.gif" alt="">
          </li>
          <li><a href="/signup">Romance</a>
            <img src="/assets/images/romence.gif" alt="">
          </li>
          <li><a href="/signup">Comedy</a></li>
          <li><a href="/signup">Animation</a>
            <img src="/assets/images/Untitled-1.gif" alt=""></li>  
          <li><a href="/likes">Likes</a></li>
          <li> 
          <form action="/logout" method="post">
            <button style="background:transparent; color:#fff" type="submit">Log Out</button>
          </form>
        </li>
        <% } %>
      </ul>
      <ul class="socialMedia">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-google"></i></a></li>
      </ul>
      <a class="sideMenu_cls"> <i class="fas fa-times"></i></a>
    </div>
    </div>
  </div>
</nav>