<nav <% if ( path === '/' ){ %> style="display: none;" <% } %>>
  <div class="container">
    <!-- <p id="userName"></p>
        <ul class="setting">
          <li><a href="#">Profile <i class="fas fa-user"></i></a></li>
          <li><a href="#">Setting <i class="fas fa-cogs"></i></a></li>
          <li><a href="#">Logout <i class="fas fa-sign-out-alt"></i></a></li>
        </ul> -->
    <% if (isAuthenticated) { %>
      <form action="/logout" method="post">
        <button class="btn" type="submit">Log Out</button>
      </form>
    <% } %>
    <div class="logo">
      <a href="/">House Series</a>
    </div>
    <div class="sideMenuI">
      <a id="sideNavIcon"><i class="fas fa-bars"></i></a>
    </div>
    <div id="sideMenu">
      <div class="inner">
      <h2>House Series</h2>
      <ul id="options">
      <% if (!isAuthenticated) { %>  
        <li><a href="/moviesCategory/Drama">Drama</a>
          <img src="/assets/images/tears.gif" alt="">
        </li>
        <li><a href="/moviesCategory/Action">Action</a>
          <img src="/assets/images/Fest.gif" alt="">
        </li>
        <li><a href="/moviesCategory/Romance">Romance</a>
          <img src="/assets/images/romence.gif" alt="">
        </li>
        <li><a href="/moviesCategory/Comedy">Comedy</a></li>
        <li><a href="/moviesCategory/animation">Animation</a>
          <img src="/assets/images/Untitled-1.gif" alt=""></li>
        <li>     
          <a href="/login">Login</a>
        </li>
          
        <% } %>  
        <% if (isAuthenticated) { %>
          <li><a href="/moviesCategory/Drama">Drama</a>
            <img src="/assets/images/tears.gif" alt="">
          </li>
          <li><a href="/moviesCategory/Action">Action</a>
            <img src="/assets/images/Fest.gif" alt="">
          </li>
          <li><a href="/moviesCategory/Romance">Romance</a>
            <img src="/assets/images/romence.gif" alt="">
          </li>
          <li><a href="/moviesCategory/Comedy">Comedy</a></li>
          <li><a href="/moviesCategory/animation">Animation</a>
            <img src="/assets/images/Untitled-1.gif" alt=""></li>  
          <li><a href="/likes">Likes</a></li>
          <li> 
          <form action="/logout" method="post">
            <button style="background:transparent; color:#fff" type="submit">Log Out</button>
          </form>
        </li>
        <% } %>
      </ul>
      <ul class="socialMedia">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-google"></i></a></li>
      </ul>
      <a class="sideMenu_cls"> <i class="fas fa-times"></i></a>
    </div>
    </div>
  </div>
</nav>