<div id="slide-movies" class="lax">
    <div class="slide-movies-bg">
        <img src="/assets/images/mintor.png" alt="" srcset="">
    </div>
    <div class="slider lax" data-lax-preset="blurInOut-40" data-lax-preset="lazy">
        <div class="slider-content">
            <img src="/assets/images/03.jpg" alt="Poster">
            <div class="actions">
                <h3>Movie Name</h3>
                <a href="">Download</a>
                <a href="">Watch</a>
                <a href="">Like</a>
            </div>
        </div>
        <div class="slider-content">
            <img src="/assets/images/04.jpg" alt="Poster">
            <div class="actions">
                <h3>Movie Name</h3>
                <a href="">Download</a>
                <a href="">Watch</a>
                <a href="">like</a>
            </div>
        </div>
        <div class="slider-content">
            <img src="/assets/images/05.jpg" alt="Poster">
            <div class="actions">
                <h3>Movie Name</h3>
                <a href="">Download</a>
                <a href="">Watch</a>
                <a href="">like</a>
            </div>
        </div>
    </div>
</div>