w<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404</title>
    <style>
        .err
        {
            background-color: #222;
            padding: 20px;
        }
        body
        {
            text-align: center;
            background-color: #e55039;
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="err">
        <h1>404</h1>
        <h2>Page Not Found...</h2>
    </div>
</body>
</html>