<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><Error 500></title>
    <style>
        .err
        {
            background-color: #eee;
            padding: 20px;
        }
        body
        {
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="err">
        <h1>500</h1>
        <h2>Something Went Worng. try to reload the page or go to another one, if still getting these page please try agشin later</h2>
    </div>
</body>
</html>