<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/main.css">

<body>
    <!-- Start Navigation -->  
    <%- include('./includes/nav.ejs') %>
    <!-- End Navigation -->

    <section id="aboutUs">
        <h1 style="font-size:3em; font-weight:bolder;">About Us</h1>
        <p style="color:#eee; font-size:1.2m;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum doloremque libero soluta incidunt, magni, quia inventore alias aliquam itaque sed facere et dolorum vero asperiores rerum assumenda consequuntur. Ipsa, doloribus?</p>

    </section>

    <!-- Start Footer -->
    <footer>
        <div class="container">
            <%- include('./includes/copyRight.ejs') %>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="/assets/js/plugin.js"></script>
    <script src="/assets/js/fontawesome-all.min.js"></script>
</body>