<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/forms.css">

</head>

<body>
  
    <div class="wrapper">
        
        <!-- Start Navigation -->
        <%- include('./includes/nav.ejs') %>
        <!-- End Navigation -->
           
      <div id="contact">
          
          <div class="contact-info">
              <h1>Call Us</h1>
                  <p>We'll be glad to hear you openion and tell us if you facing any problmes. </p>
              <p><span>Mobile:</span> 0123456789</p>
          </div>
          <div class="form-style">
          <form action="/subscribe" method="post">
            <input type="text" name="name" placeholder="Your Name.">
            <input type="email" name="email" placeholder="Your Email.">
            <textarea name="message"  placeholder="Your Message..."></textarea>
            <button class="btn main-btn" type="submit">Sign Up</button>
          </form>
        </div>
      </div>

    </div>
      <%- include('./includes/copyRight.ejs') %>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  
      <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="/assets/js/plugin.js"></script>
</body>
<html>