<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/likes.css">
</head>
<body>
    <div class="wrapper">
        
        <!-- Start Navigation -->
        <%- include('./includes/nav.ejs') %>
        <!-- End Navigation -->


        <h1>Likes</h1>
        <!-- Start Suffle Cards -->
            <%- include('./includes/shuffleCards.ejs') %>
        <!-- End Suffle Cards -->
    
    </div>
    <%- include('./includes/copyRight.ejs') %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>
  <script src="/assets/js/plugin.js"></script>
</body>

</html>


