<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/forms.css">
</head>

<body>
    <div class="wrapper">
        
    <!-- Start Navigation -->  
    <%- include('./includes/nav.ejs') %>
    <!-- End Navigation -->
    
        <div class="auth-form">
            <form action="/login" method="post">
                <% if(errmsg) { %>
                    <div class="msg msg-err">
                        <p> <%= errmsg %> </p>
                    </div>
                    <% } %>
                <p>login</p>
                    <input type="email" name="email" placeholder="Your Email.">
                    <input type="password" name="password" placeholder="Write Password.">
                    <button class="btn main-btn" type="submit">login</button>
                    <p>Are You New Here? <a href="/signup">Sign Up..</a>Have You Frogot Your Password <a href="/reset">Reset Password.</a></p>
                </form>
        </div>

        
    </div>
    <%- include('./includes/copyRight.ejs') %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="/assets/js/plugin.js"></script>
    <script src="/assets/js/fontawesome-all.min.js"></script>

</body>

</html>