.download {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-bottom: var(--main-margin)
}
.download::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.612);
  border-radius: var(--radius);
  z-index: 1;
}
.edit{
  z-index: 2;
  padding: var(--scnd-padding) 0;
  background-color: rgba(0, 0, 0, 0.663);
}
.download-moviedetails {
  z-index: 2;
  padding:0 var(--main-padding);
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr;
}
.download-moviedetails .poster{
  height: 200px;
  overflow: hidden;
  border: 2px solid #ccc;
  position: relative;
  border-radius: var(--radius);

}
.download-moviedetails .poster .svg-inline--fa{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-size: 10vmax;
}
.download-moviedetails .poster img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  float: left;
}
.download .title h3 {
  font-size: 26px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.download-moviedetails .info {
  color: #ccc;
  text-align: center;
}

.download-moviedetails .info span {
  font-size: 16px;
  color: #ccc;
  margin-right: var(--scnd-margin);
}
.download-actions {
  display: flex;
  justify-content: space-evenly;
  margin: var(--scnd-margin) 0;
  position: relative;
  border-radius: var(--radius);
}
.likes {
  z-index: 88;
}
.likes button {
  background-color: transparent;
}
.download-actions a,
.download-actions button {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  z-index: 99;
  margin: 0 var(--scnd-margin);
  text-align: center;
  line-height: 45px;
  border-radius: var(--radius);
}
@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform:scale(1)
  }
  50% {
    -webkit-transform:scale(1.2)
  }
  100% {
    -webkit-transform:scale(1)
  }
}

@-moz-keyframes heartbeat {
  0% {
    -moz-transform:scale(1)
  }
  50% {
    -moz-transform:scale(1.2)
  }
  100% {
    -moz-transform:scale(1)
  }
}

@-o-keyframes heartbeat {
  0% {
    -o-transform:scale(1)
  }
  50% {
    -o-transform:scale(1.2)
  }
  100% {
    -o-transform:scale(1)
  }
}

@keyframes heartbeat {
  0% {
    transform:scale(1)
  }
  50% {
    transform:scale(1.2)
  }
  100% {
    transform:scale(1)
  }
}

.heartbeat {
  -webkit-animation-name: heartbeat;
  -moz-animation-name: heartbeat;
  -o-animation-name: heartbeat;
  animation-name: heartbeat;
}

.animate-infinite-heartbeat {
  -webkit-animation: heartbeat 2s infinite;
  animation: heartbeat 2s infinite;
}
/* .download-actions a:first-child {
  background-color: #247b36;
}
.download-actions a:nth-child(2) {
  background-color: #b7752b;
} */
.share{
  position: relative;
  z-index: 1;
  padding: var(--scnd-padding) 0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-image: linear-gradient(to top, #000,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.65));
}

.share h5{
  color: var(--main-color);
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
}
.download-sub-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.download-sub-menu li a {
  cursor: pointer;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
}
.donwload-details {
  background-image: none;
  color: #fff;
  z-index: 2;
  border-radius: var(--radius);
  padding: 20px;
}
.donwload-details p{
  margin-bottom: 8px;
  padding: 5px 20px;
  color: #ccc;
  font-size: 16px;
  text-align: left
}
.donwload-details p span{
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 1px;

}
/* iPhone X, 6, 6+, 7, 7+, 8, 8+ ----------- */

@media only screen and (min-width: 320px) and (max-width: 825px) {


  .download .download-moviedetails .info span {
    font-size: 0.9em;
    margin: 0;
    color: #ccc;
    padding: 5px;
    border-radius: 10px;
  }
  .donwload-details{
    padding: 0;
  }
  .download-moviedetails {
    padding: 0 var(--scnd-padding);
  }
  .donwload-details p {
    font-size: 14px;
  }
}
