.auth-form {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/giphy.gif");
}
.auth-form .msg p{
  font-size: 14px;
  margin: 0;
}
.auth-form p {
  color: #fff;
  text-align: center;
  font-size: 33px;
  margin-bottom: 15px;
}
.auth-form p:last-child{
  font-size: 14px;
  color: #ccc;
  margin: 0;
  padding: var(--scnd-padding) 0;
}
.auth-form p:last-child a{
  color: var(--main-color)
}
.auth-form form {
  width: 50%;
  margin: auto;
  padding: var(--main-padding) 0;
}

.auth-form input,
textarea {
  display: block;
  height: 80px;
  width: 100%;
  padding: var(--scnd-padding);
  margin-bottom: var(--scnd-margin);
  border-radius: var(--radius);
  text-align: center;
  font-size: 1.2em;
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid var(--main-color);
}
@media only screen and (min-width: 375px) and (max-width: 825px){
  .auth-form form {
    width: 90%;
  }
  
.auth-form input{
    height: 60px;
}
@media only screen and (min-width: 669px) and (max-width: 770px) {

}
}
