* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Cairo", sans-serif;
}
:root {
  --main-margin: 35px;
  --scnd-margin: 12px;
  --main-padding: 35px;
  --scnd-padding: 12px;
  --shadow: 0px 0px 11px 0px rgba(255, 255, 255, 0.15);
  --radius: 25px;
  --main-color: #00ffa2;
}
body {
  /* background-image: linear-gradient(to bottom, #26225a, #44154b, #530637, #079992); */
  /* background-image: linear-gradient(to top, #111, #333, #222); */
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  margin: 0;
  transition: 0.5s all ease-in-out;
}
.btn {
  padding: var(--scnd-padding) 0;
  border-radius: var(--radius);
  color: #fff;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}
.main-btn {
  background: var(--main-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #060519,
    var(--main-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #060519,
    var(--main-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 0;
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-color: #111;
  width: 5px;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

input:focus {
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ccc;
  text-align: center;
}
.loader {
  height: 100vh;
  width: 100%;
  background-color: #00f;
  display: none;
}
.activeted {
  display: block;
}
.wrapper {
  width: 75%;
  min-height: 70vh;
  display: grid;
  margin: auto;
  background-color: #000;
}
.msg {
  width: 100%;
  background-color: ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: var(--radius);
}
.msg p {
  color: #ccc;
  text-align: center;
}
.msg-err {
  border: 1px solid red;
  background-color: #ffff0013;
}
.msg-success {
  border: 1px solid green;
}
/*Styling #header*/

.header-banner {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #060519,
    var(--main-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #060519,
    var(--main-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 50px;
  position: relative;
}
.header-banner::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: transparent;
  animation-name: bright;
  animation-duration: 1.5s;
  background-color: #fff;
  opacity: 0;
  border-radius: var(--radius);
}
@keyframes bright {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 0.1;
  }
  60% {
    left: 50%;
    opacity: 0.4;
  }
  75% {
    left: 90%;
    opacity: 0.1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}
header {
  transform: scale(0.990304);
  transition: 0.1s ease-in-out all;
}

#header .header-banner p {
  color: #eee;
  font-size: 26px;
  margin: 0;
  font-weight: 300;
}
#header .header-banner p span {
  font-weight: bolder;
}

#header {
  position: relative;
}

#header img {
  width: 340px;
  height: 320px;
  display: block;
  margin: 0 auto;
}
#header .welcom {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.6em;
}
#header .welcom h1 {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-size: 100px;
}
#header .socialMedia {
  display: flex;
  justify-content: center;
}
#header .socialMedia li {
  float: left;
}
#header .socialMedia li a {
  font-size: 2.4em;
  color: #eee;
  margin: 0 var(--scnd-margin);
}
#header .join {
  display: flex;
  justify-content: center;
  color: #eee;
}
#header .join a {
  font-weight: 300;
  border: 1px solid var(--main-color);
  padding: 10px;
  transition: 0.5s;
  color: #fff;
  margin: 0 var(--scnd-margin);
  border-radius: var(--radius);
  position: relative;
}

#header .join a:hover {
  text-decoration: none;
  background-color: #222;
}
#header .join h3 {
  font-weight: 200;
}
/* #header .join a:hover:first-of-type {
  background-color: #3f2224;
  color: #eee;
} */
/* #header .join a:first-of-type {
  background-color: #7a0000;
} */

#search {
  position: relative;
}
#search input {
  margin: 30px 0;
}
.form-style {
  width: 80%;
  margin: auto;
}
.form-style input{
  width: 100%;
  height: 45px;
  text-align: center;
  margin: 10px 0;
  border-radius: var(--radius);
}
.form-style textarea{
  background-color: #fff;
  border: 0;
}
#search::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 6px;
  width: 1px;
  background-color: rgba(255, 0, 0, 0);
  transition: 1s all ease;
}
#search:hover::after {
  animation-name: lins;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
input:-internal-autofill-selected {
  background-color: #000;
}
@keyframes lins {
  0% {
    bottom: 0px;
    right: 0px;
    background-color: red;
    transform: rotateZ(45deg);
  }
  20% {
    bottom: 75%;
    right: -1px;
    background-color: red;
    transform: rotateZ(-15deg);
    border-radius: 10px;
    width: 3px;
    height: 3px;
  }
  25% {
    bottom: 85%;
    right: 2px;
    background-color: rgb(34, 255, 0);
    transform: rotateZ(-25deg);
    border-radius: 10px;
    width: 3px;
    height: 3px;
  }
  30% {
    bottom: 86%;
    right: 2px;
    background-color: red;
    transform: rotateZ(-45deg);
    border-radius: 10px;
    width: 1px;
    height: 1px;
  }
  35% {
    bottom: 87%;
    right: 0px;
    background-color: rgb(251, 255, 0);
    transform: rotateZ(0);
    border-radius: 10px;
    width: 4px;
    height: 4px;
  }
  50% {
    bottom: 87%;
    right: 97.5%;
    background-color: rgba(255, 0, 0, 0.918);
    height: 2px;
    width: 8px;
    transform: rotateZ(-25deg);
  }
  55% {
    bottom: 86%;
    right: 98%;
    background-color: rgb(8, 0, 255);
    transform: rotateZ(-35deg);
  }
  60% {
    bottom: 83%;
    right: 98.5%;
    background-color: yellow;
    transform: rotateZ(-45deg);
    border-radius: 10px;
    height: 1.5px;
    width: 7px;
  }
  65% {
    bottom: 77%;
    right: 99%;
    background-color: red;
    transform: rotateZ(-55deg);
    border-radius: 10px;
    height: 1px;
    width: 5px;
  }
  70% {
    bottom: 73%;
    right: 99.3%;
    background-color: red;
    transform: rotateZ(-65deg);
    border-radius: 10px;
    height: 1px;
    width: 3px;
  }
  72% {
    bottom: 68%;
    right: 99.8%;
    background-color: rgb(0, 255, 81);
    transform: rotateZ(-65deg);
    border-radius: 10px;
    width: 1px;
    height: 1px;
  }
  75% {
    bottom: 63%;
    right: 100%;
    background-color: rgb(255, 94, 0);
    transform: rotateZ(-75deg);
    border-radius: 10px;
    width: 2px;
    height: 2px;
  }
  80% {
    bottom: 0px;
    right: 100%;
    background-color: red;
    transform: rotateZ(-90deg);
    width: 1px;
    height: 1px;
  }
  100% {
    background-color: rgb(255, 0, 0);
    right: 0px;
    bottom: 20px;
    transform: rotateZ(45deg);
    height: 2px;
    width: 8px;
  }
}

nav {
  width: 100%;
  height: auto;
  /* background: var(--main-color);  fallback for old browsers */
  /* background: -webkit-linear-gradient(to left, #190A05, #7a0000);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to left, #190A05, #7a0000); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-z-play: none;
  box-shadow: var(--shadow);
}

nav .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
nav #userName {
  font-size: 1.2em;
  line-height: 70px;
  margin: 0;
  color: #fae3a8;
  font-weight: bolder;
  cursor: pointer;
}
nav #userName:focus.setting {
  visibility: visible;
}
nav .setting {
  position: absolute;
  left: calc(width - 50px);
  top: 75px;
  background-color: #212d56;
  padding: var(--scnd-padding);
  border-radius: var(--radius);
  visibility: hidden;
}

nav .setting::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 45%;
  background-color: #212d56;
  width: 10px;
  height: 10px;
  transform: rotateZ(45deg);
}
nav .setting li {
  margin: 10px 0;
}
nav .setting li a {
  color: #fff;
}
nav .socialMedia {
  margin: 0;
  margin-top: var(--scnd-margin);
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav .socialMedia li a {
  font-size: 1.1em;
  color: #eee;
}
nav .logo a {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 0;
}

#sideNavIcon {
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}
/* Styling Side Menu */
#sideMenu {
  height: 100%;
  width: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 0.3s all ease-in-out;
  display: grid;
  background-color: rgba(0, 0, 0, 0.523);
}
#sideMenu .inner {
  height: 75%;
  width: 40%;
  background: #111;
  padding: var(--main-padding);
  display: grid;
  margin: auto;
  transform: scale(0);
  transition: .25s all ease-in-out;
  border-radius: var(--radius);
}

#sideMenu h2 {
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
}
.sideMenu_cls {
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  right: 15px;
  top: 25px;
  transform: translateY(-50%);
  cursor: pointer;
}
#options {
 
  display: grid;
  margin-bottom: var(--scnd-margin);
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
}
#options li {
  text-align: center;
  border-radius: var(--radius);
  width: 170px;
  height: 120px;
  opacity: 0.7;
  padding: 0;
  transition: 0.3s all ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  border: 1px solid #eee;
  padding-left: 10px;
}
#options li img {
  height: 80px;
  width: 80px;
  display: none;
}
#options li:hover {
  opacity: 1;
}
#options li:hover img {
  display: block;
}
#options li:nth-child(2) img {
  width: 100%;
  height: 30px;
}
#options li:nth-child(3) img {
  width: 100%;
  height: 50px;
}

#options li:nth-child(1) {
  background-color: #192a56;
}
#options li:nth-child(2) {
  background-color: #c23616;
}
#options li:nth-child(3) {
  background-color: #0097e6;
}
#options li:nth-child(4) {
  background-color: #e1b12c;
}
#options li:nth-child(5) {
  background-color: #44bd32;
}

#options li:nth-child(6) {
  opacity: 1;
}

#options li a {
  color: #e6e6e6;
  line-height: 120px;
  font-size: 20px;
}

.categories {
  height: 100%;
  border-radius: var(--radius);
  background-color: #111;
}
.categories div {
  margin-top: var(--scnd-margin);
  display: none;
}
.categories h4 {
  cursor: pointer;
  margin: 0;
  font-size: 1.4em;
}

.categories-items a {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
}
.active {
  background-color: rgb(17, 17, 17, 0.7);
  color: #888;
  font-weight: bold;
  border-radius: var(--radius);
}

#card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: var(--main-margin);
  grid-gap: 0.5em;
}
#card h2 {
  text-align: center;
  color: #fff;
}
.card-item {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  border-radius: var(--radius);
}
.card-poster {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius);
}
.card-poster img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  transition: 0.3s all ease-in-out;
}
.card-poster:hover > img {
  animation-name: cardEffect;
  animation-duration: 1s;
}

@keyframes cardEffect {
  0% {
    transform: rotateZ(3deg);
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    filter: blur(2px);
  }
  75% {
    transform: rotateZ(3deg);
  }

  75% {
    transform: rotateZ(1deg);
  }
}
.card-item_rating {
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: rgb(234, 234, 4);
  height: 24px;
  line-height: 24px;
  font-weight: 300;
  min-width: 30px;
  text-align: center;
  border-radius: 20px;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.779);
}

.pagination {
  text-align: center;
  grid-column: 1/3;
  color: #fff;
  margin-top: var(--scnd-margin);
}
.pagination a {
  color: #fff;
  padding: 3px 14px;
  font-weight: 300;
  font-size: 16px;
}
.pagination a.active {
  background: -webkit-linear-gradient(
    to left,
    #060519,
    var(--main-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #060519,
    var(--main-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: 800;
}

.wrapperSection {
  min-height: 400px;
  text-align: center;
  color: #fff;
  margin-bottom: var(--main-margin);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  /* background-image: url("/assets/images/giphy.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
#advertisment-space {
  height: 200px;
  border: 1px solid #eee;
  white-space: normal;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, var(--main-color), rgba(0, 0, 0, 0))
    1 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.slider-title {
  text-align: left;
  margin: 0 0 -8px 15px;
  font-size: 20px;
  font-weight: 600;
}
.category-slider {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: var(--main-margin);
  transition: 0.3s all ease-in-out;
}
.category-slider_item {
  margin: 0 5px;
  padding: var(--scnd-padding) 0;
  border-radius: var(--radius);
  text-align: center;
  height: 190px;
  position: relative;
  background-color: rgba(17, 17, 17, 0.83);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.category-slider_item:focus {
  outline: 0;
  border-color: #fae3a8;
  color: #eee;
}
.category-slider_item img {
  height: 67%;
  width: 75%;
  border-radius: 5px;
  margin: 0 auto;
  opacity: 0.9;
}
.category-slider_item:hover {
  background-color: rgba(17, 17, 17, 0.666);
}
.category-slider_item:hover img {
  opacity: 1;
}
.category-slider_item a {
  text-decoration: none;
  color: #eee;
  font-size: 0.8em;
  padding: 0 6px;
  transition: 0.1s all ease-in-out;
}
.category-slider_item a:last-child {
  color: red;
}
.category-slider_item a:first-of-type {
  color: var(--main-color);
}
.category-slider_item_rating {
  background-color: #000;
  box-shadow: inset 0px 4px 14px 6px yellow;
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-weight: 600;
  font-size: 12px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.category-slider_item p:nth-child(2) {
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  padding: 6px 0;
}
.slick-prev,
.slick-next {
  top: 100%;
}
.slick-prev {
  left: 75%;
}
.slick-next {
  right: 20px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  font-family: none;
}

#shuffle-cards {
  position: relative;
  height: 300px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.1s all ease-in-out;
}
.shuffle-cards_item {
  height: 250px;
  width: 250px;
  background-color: #000;
  border: 0.5px solid #eee;
  position: absolute;
  cursor: pointer;
  border-radius: var(--radius);
}
.shuffle-cards_item_actions{
  background: rgba(0, 0, 0, 0.571);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: var(--radius);
  display: none;
}
.shuffle-cards_item:hover .shuffle-cards_item_actions{
display: block;
}
.shuffle-cards_item a {
  cursor: pointer;
  border-radius: var(--radius);
  font-size: 30px;
  text-align: center;
}
.shuffle-cards_item img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
}
.shuffle-cards_item:nth-child(odd) {
  background: red;
  transform: rotateZ(5deg);
}
.shuffle-cards_item:nth-child(even) {
  background: blue;
  transform: rotateZ(-5deg);
}

#slide-movies {
  width: 100%;
  height: 600px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
#slide-movies .slide-movies-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#slide-movies .slide-movies-bg img {
  width: 100%;
  height: 100%;
}
.slider .slider-content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px 10px 0 10px;
}
.slider .slider-content:hover .actions,
.slider .slider-content:focus .actions {
  visibility: visible;
}

.slider .slider-content .actions {
  color: #fff;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 6%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  border-radius: var(--radius);
  padding: 15px;
}
.slider .slider-content .actions h3 {
  color: #222;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  background-color: rgba(148, 255, 243, 1);
  padding: 10px;
}
.slider .slider-content .actions a {
  color: #fff;
  font-size: 2em;
  margin: 5px;
  display: block;
  text-align: center;
}
.slider .slider-content img {
  height: 420px;
  width: 100%;
  border-radius: var(--radius);
}
.slick-slide {
  opacity: 0;
}
.slick-active {
  opacity: 1;
}

/* Start Footer */

#contact {
  -webkit-z-ding: var(--scnd-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: var(--main-margin);
}
#contact p {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
#contact p span {
  color: #ee903e;
}
#contact .photo {
  align-self: center;
  display: flex;
}

#contact img {
  height: 75%;
  width: 80%;
  margin: auto;
}

#copyright {
  width: 75%;
  height: calc(30vh - 60px);
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #fff;
  display: grid;
  margin: auto;
  padding: var(--scnd-padding) 0;
  box-shadow: var(--shadow);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
#copyright ul {
  display: flex;
  justify-content: center;
}
#copyright ul li {
  margin-right: var(--scnd-margin);
}
#copyright ul li a {
  color: #fff;
}
#copyright h6 {
  font-weight: 200;
}
.thanks {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  padding: var(--main-padding);
  margin: var(--scnd-margin) 0;
  height: 70vh;
}
.thanks img {
  height: 300px;
  margin: auto;
}

/* iPhone 4, 5 -----------

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
  }
  #horiz-slider {
    width: 85%;
  }

  #horiz-slider .horiz-slider-item .horiz-slider-actions a {
    margin: 18px 0;
  }
} */

/* @media only screen and (min-width: 320px) and (max-width: 568px) {
  .wrapper {
    width: 90%;
  }
  #header {
    height: auto;
  }
  .header-banner {
    height: 70px;
    margin: var(--scnd-margin) 0;
  }
  #header .header-banner p {
    font-size: 16px;
    padding: var(--scnd-padding) 0;
  }
  #header .welcom h1 {
    margin: 0;
    font-size: 30px;
  }
  #header .socialMedia {
    margin: 0;
  }
  #header .socialMedia li a {
    padding: 0 var(--scnd-padding);
    margin: 0;
    font-size: 1.6em;
  }

  #card {
    grid-template-columns: 1fr;
  }
  #card h2 {
    font-size: 14px;
    padding: var(--scnd-padding);
    margin: 0;
  }

  .wrapperSection {
    grid-template-columns: 1fr;
  }

  #horiz-slider {
    width: 80%;
  }
  #horiz-slider .horiz-slider-item {
    max-height: 100px;
  }

  #horiz-slider .horiz-slider-info h3 {
    font-size: 22px;
  }
  #horiz-slider .horiz-slider-item .horiz-slider-info span {
    margin: 0 6px;
    font-size: 14px;
  }
  #horiz-slider .horiz-slider-item .horiz-slider-actions a {
    width: 20px;
    height: 20px;
    border-radius: var(--radius);
    line-height: 20px;
    font-size: 12px;
    margin: 10px 0;
  }

  #contact {
    background-color: transparent;
    grid-template-columns: 1fr;
  }
} */

@media only screen and (min-width: 375px) and (max-width: 557px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 98%;
  }
  #sideMenu {
    display: block;
  }
  #sideMenu .inner {
    width: 100%;
    padding: var(--scnd-padding);
  }
  .header-banner {
    height: 70px;
    margin: var(--scnd-margin) 0;
    text-align: center;
  }
  #header .header-banner p {
    margin: 0;
    font-size: 13px;
    padding: 0;
  }
  #header .welcom h1 {
    margin: 0;
    font-size: 44px;
  }
  #header .socialMedia {
    margin: 0;
  }
  #header .socialMedia li a {
    padding: 0 var(--scnd-padding);
    margin: 0;
    font-size: 2em;
  }

  #card {
    grid-template-columns: 1fr 1fr;
  }
  .card-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  #card .card-details_actions {
    margin-top: 8px;
  }
  #card .card-details_actions a {
    padding: 4px 2px;
    font-size: 12px;
  }
  #card .card-item_details span {
    font-size: 13px;
  }
  #slide-movies {
    width: 100%;
    height: 400px;
  }
  .slider .slider-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px 10px 0 10px;
  }
  .slider .slider-content .actions h3 {
    font-size: 2em;
  }
  .slider .slider-content .actions a {
    font-size: 1.3em;
  }
  .slider .slider-content img {
    height: 270px;
    width: 100%;
    border-radius: var(--radius);
  }

  #horiz-slider .horiz-slider-item {
    max-height: 100px;
    border-bottom: 1.3px solid #444;
  }
  #horiz-slider .horiz-slider-info h3 {
    margin: 0 0 8px 0;
    font-size: 25px;
  }
  #horiz-slider .horiz-slider-item .horiz-slider-info span {
    margin: 0 10px;
    font-size: 16px;
  }
  #horiz-slider .horiz-slider-item .horiz-slider-actions a {
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 10px;
    margin: 7px 0;
  }

  .wrapperSection {
    grid-template-columns: 1fr;
  }
  .category-slider_item {
    margin: 0 3px;
  }
  #contact {
    background-color: transparent;
    grid-template-columns: 1fr;
  }
  #contact p {
    font-size: 22px;
  }
  #contact form input,
  #contact form button {
    width: 100%;
    text-align: center;
  }
  #copyright {
    width: 98%;
  }
  .thanks img {
    height: 150px;
    width: 100%;
    margin: auto;
  }
  #advertisment-space {
    margin: 0 var(--scnd-margin) var(--main-margin) var(--scnd-margin);
  }
}

@media only screen and (min-width: 557px) and (max-width: 668px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 80%;
  }
  #sideMenu {
    display: block;
  }
  #sideMenu .inner {
    width: 100%;
    padding: var(--scnd-padding);
  }
  .header-banner {
    height: 70px;
    margin: var(--scnd-margin) 0;
    text-align: center;
  }
  #header .header-banner p {
    margin: 0;
    font-size: 17px;
    padding: 0;
  }
  #header .welcom h1 {
    margin: 0;
    font-size: 44px;
  }
  #header .socialMedia {
    margin: 0;
  }
  #header .socialMedia li a {
    padding: 0 var(--scnd-padding);
    margin: 0;
    font-size: 2em;
  }
  #card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapperSection {
    grid-template-columns: 1fr;
  }
  #contact {
    grid-template-columns: 1fr;
  }
  #advertisment-space {
    margin: var(--scnd-margin) 0;
  }
  #copyright {
    width: 80%;
  }
}

@media only screen and (min-width: 669px) and (max-width: 770px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 90%;
  }
  #sideMenu {
    display: block;
  }
  #sideMenu .inner {
    width: 50%;
    padding: var(--scnd-padding);
  }
  .header-banner {
    height: 70px;
    margin: var(--scnd-margin) 0;
    text-align: center;
  }
  #header .header-banner p {
    margin: 0;
    font-size: 17px;
    padding: 0;
  }
  #header .welcom h1 {
    margin: 0;
    font-size: 60px;
  }
  #card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #contact {
    grid-template-columns: 1fr 1fr;
  }

  #contact .photo {
    display: flex;
  }
  #contact img {
    width: 80%;
    margin: auto;
  }
  #contact p {
    font-size: 22px;
  }
  .form-style {
    width: 90%;
  }

  #copyright {
    width: 90%;
  }
  #advertisment-space {
    margin: var(--scnd-margin) 15px;
  }
  #advertisment-space a {
    margin-top: -50px;
  }
}
@media only screen and (min-width: 770px) and (max-width: 1024px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 90%;
  }
  #sideMenu {
    display: block;
  }
  #sideMenu .inner {
    width: 55%;
  }
  .header-banner {
    height: 80px;
  }
  #header .header-banner p {
    font-size: 20px;
  }
  #header .welcom h1 {
    margin: 0;
    font-size: 70px;
  }
  #contact p {
    font-size: 26px;
  }
  #copyright {
    width: 90%;
  }
  #contact p {
    font-size: 20px;
  }
}
